extends layout

block content
  section.color__contents
    h1 resurt
    div.color__contents--inner
      div.color__contents--main
      div.color__contents--inner2
        p.color__contents--title aaaa
    input.color__contents--btn(type="button" value="back")